/* =================
    Universal Selector
================= */

* {
    box-sizing: border-box;
}


/* =================
            Layout
================= */

body,
.container {
    display: flex;
    flex-direction: column;
}

/* === General Layout === */

body {
    align-items: center;
}

.container {
    align-items: flex-start;
}

ul {
    padding-left: 0;
}

/* =================
              Styling
================= */

li {
    font-size: 1.2em;
    list-style: none;
}


/* =================
        Media Queries
================= */
