/* =================
    Universal Selector
================= */

* {
    box-sizing: border-box;
}


/* =================
            Layout
================= */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(245, 245, 245);
}

body,
.container {
    display: flex;
    flex-direction: column;
}

li,
.buttons {
    display: flex;
}

body,
.container,
li {
    align-items: center;
}

/* === General Layout === */

.container {
    width: 90%;
    margin-top: 3em;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0 0 2px;
}

.content-wrapper {
    max-height: calc(100vh - 46px);
}

.eventButtons {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
}

ul {
    padding: 0;
    margin: 0;
}

.listText {
    padding-left: 10px;
    width: 100%;
}

/* =================
              Styling
================= */
h1 {
    font-size: 5em;
    font-weight: 100;
    margin-bottom: 20px;
}

li {
    font-size: 1.2em;
    list-style: none;
    padding: 8px 1em;
    border-top: 1px solid lightgray;
}

p {
    padding: 4px 1em;
    margin: 5px 0;
    font-size: 1.2em;
}

.listText,
.button,
#addTodoInput,
p {
    font-weight: 200;
}

.button {
    padding: 5px;
    margin: 2px;
    border: none;
    font-size: .9em;
}

.toggleButton {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    -webkit-appearance: none;
}

.todoTextEdit {
    font-weight: 200;
    height: 35px;
    width: 100%;
}

#addTodoInput {
    width: 100%;
    height: 2em;
    padding: 5px 1em;
    font-size: 1.3em;
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: rgba(0,0,0, 2%);
}

/* === Pseudo Class Selectors === */

input:focus {
    outline: none !important;
}

 .toggleButton:hover {
    background-color: rgba(0, 0, 0, 3%);
}

.toggleButton:checked {
    background-color: rgba(0, 0, 0, 10%);
}

.toggleButton:checked  ~ .listText strike {
    color: rgba(0, 0, 0, 33%);
}

/* =================
        Media Queries
================= */

@media (min-width: 568px) {
    .container {
        width: 500px
    }

    li {
        font-size: 1.4em;
    }

    p {
        padding: 4px 1.5em;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 600px;
    }

    h1 {
        font-size: 6em;
    }
}
